/* app css stylesheet */
html,body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -80px;
}

.header {
    height: 100%;
    min-height: 100%;
    height: auto !important;
}

.footer{
    background-color: #333;
    color: white;
    height: 80px;
}

.container .credit {
    margin: 10px 0;
}

#login .title label {
    font-size: 2em;
    font-weight: bold;
}

#register .title label {
    font-size: 2em;
    font-weight: bold;
}
